@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/** STyle Related  */

html {
    font-size: 62.5%;
}

:root {
    --dark: #131313;
    --secondary-dark: #424242;
    --primary-color: #FF900E;
    --secondary-color: #727272;
}

::selection {
    color: var(--primary-color);
    background-color: var(--secondary-dark);
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 2.5rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.head {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}

.title {
    color: var(--secondary-color);
    font-size: 1.5rem;
    line-height: 25px;
}


/** Header related */

header {
    background: rgba(255, 144, 14, 0.10);
}

.sub_header {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
}

ul {
    display: flex;
    gap: 5.0rem;
}

ul li {
    list-style-type: none;
    color: var(--secondary-dark);
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 500;
}

.header_content {
    padding-top: 115px;
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.header_content h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    color: var(--dark);
}

.header_content p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--secondary-color);
    margin-top: 20px;
}

.header_content button {
    max-width: 190px;
    margin-top: 20px;
}

.header_content img {
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    padding-bottom: 30px;
}

/**  Features Sec>MAIN  */

.features {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 30px; */
    margin-top: 100px;
}

.feature_content {
    max-width: 500px;
    /* margin-left: 20px; */
}

.feature_content h2 {
    margin-bottom: 10px;
}

.feature_content p {
    margin-bottom: 20px;
}

.left_side_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.left_side_images img {
    height: 300px;
    width: auto;
    border-radius: 8px;
}

/** Love and ENjoy  */

.love_enjoy {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.right {
    position: relative;
}

.right button {
    position: absolute;
    left: 17px;
    bottom: -40px;
}

.right button p {
    margin-top: -20px;
    font-size: 1.5rem;
    font-weight: 400;
}

.right img {
    width: 70%;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 70px;
}

.left_side_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 20px;
    max-width: 500px;
    margin-left: 30px;
}

.left_side_content>p {
    margin-top: -10px;
}

.left_side_content>h2 {
    font-size: 4rem;
    border-left: 5px solid var(--primary-color);
    padding-left: 20px;
}

.left_side_content div {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    height: 110px;
    padding: 7px 12px;
}

.left_side_content p {
    color: var(--secondary-color);
    font-size: 1.2rem;
    line-height: 25px;
}

.left_side_content h5 {
    font-size: 1.9rem;
    font-weight: 600;
}

/** SOME FACTS  */

.facts {
    max-width: 1200px;
    margin: 100px auto;
}

.facts>p {
    max-width: 500px;
    padding-top: 20px;
}

.topics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.topics div {
    outline: 1px solid var(--primary-color);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.topics div h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.topics div h6 {
    font-size: 1.2em;
    color: var(--secondary-color);
}

/** SPONSORS  */
.sponsers {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.sponsers>p {
    max-width: 550px;
    margin: auto;
    padding-top: 14px;
}

.sponsors_logos {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsors_logos img {
    width: 150px;
}

footer {
    max-width: 1200px;
    margin: 120px auto;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;

}

footer>p {
    padding: 40px;
    font-size: 2rem;
    color: var(--secondary-dark);
}


















@media screen and (max-width:576px) {

    html {
        font-size: 41%;
    }

    .header_content img {
        width: 80%;
    }

    .header_content h1 {
        width: 400px;
        font-size: 5rem;
    }

    .header_content p {
        width: 400px;
    }

    nav {
        flex-direction: column;
    }

    ul {
        padding-top: 20px;
        gap: 1rem;
    }

    .features {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 10px;
    }

    .left_side_images {
        grid-template-columns: 1fr;
        margin-top: 50px;
        /* padding: 0px 30px; */
        /* width: 300px;
        margin: auto; */
    }

    .left_side_images img {
        width: 400px;
    }

    .love_enjoy {
        display: flex;
        flex-direction: column;
    }

    .facts>p,
    .facts>h4 {
        max-width: 350px;
        padding: 20px;
    }

    .topics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .topics div {
        outline: 1px solid var(--primary-color);
        padding: 30px;
        margin: 0 15px;
        border-radius: 10px;
        text-align: center;

    }

    .sponsors_logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-left: 30px;
    }

    .sponsors_logos img {
        /* padding: 10px 50px; */
        width: 100px;
    }

}

@media screen and (min-width:577px) and (max-width: 992px) {
    html {
        font-size: 51%;
    }

    nav {
        flex-direction: column;
    }

    ul {
        padding-top: 20px;
        gap: 1rem;
    }

    .header_content p {
        width: 500px;
    }

    .header_content img {
        width: 90%;
    }

    .features {
        display: flex;
        flex-direction: column-reverse;
    }

    .left_side_images {
        margin-top: 20px;
    }

    .facts>p,
    .facts>h4 {
        max-width: 450px;
        padding: 10px 30px;
    }

    .topics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .topics div {
        outline: 1px solid var(--primary-color);
        padding: 30px;
        margin: 0 15px;
        border-radius: 10px;
        text-align: center;

    }

    .sponsors_logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-left: 30px;
    }

    .sponsors_logos img {
        /* padding: 10px 50px; */
        width: 100px;
    }


}